*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(72, 224, 194);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.add-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(192, 201, 201);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: rgb(72, 224, 194);
    color: white;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/dry-clean.png);
    background-size: cover;
    background-color: aquamarine;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check-mark.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 4px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}